#/etc/restic.env
export RESTIC_REPOSITORY="{{ restic_repo }}"
export RESTIC_PASSWORD="{{ restic_password }}"
export gotify_url="{{ gotify_url }}"
export gotify_token="{{ gotify_token }}"
export gotify_priority={{ gotify_priority }}
